recordbatch.rb
recordbatch.srec
schema.as
vhdl/*
dot/*
work/*
!vhdl/Sum.vhd
!vhdl/SumOp.vhd
!vhdl/Sum_ExampleBatch_Reduce.vhd
!vhdl/Sum_pkg.vhd
.ipynb_checkpoints
vsim.do
transcript
*.cf
vhdmmio-doc/*
fletchgen.mmio.yaml